@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;500;700;900&display=swap');

// CONSTANTS AND VARIABLES

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}

body {
    width: 100vw; height: 100vh;
}

.center-box {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    width: 100px;
    aspect-ratio: 1/1;
    background-color: red;
}